<div class="org-chart">

  <!-- Nível 1 - Campeão -->
  <div class="level">
    <div class="org-node">
      <img src="{{tvConsoni[0].img}}" alt="Campeão" />
      <div class="nome">Campeão</div>
      <div class="time"></div>
    </div>
  </div>

  <!-- Conector do campeão para semifinal -->
  <div class="connector-vertical"></div>

  <!-- Nível 2 - Semifinal -->
  <div class="level">
    <div class="org-node">
      <img src="{{tvConsoni[0].img}}" alt="final 1" />
      <div class="nome">Final </div>
      <div class="time"></div>
    </div>
    <div class="org-node">
      <img src="{{tvConsoni[0].img}}" alt="final 2" />
      <div class="nome">Final </div>
      <div class="time"></div>
    </div>
  </div>

  <!-- Conector dos semifinais para quartas -->
  <div class="connectors-row">
    <div class="connector-between">
      <div class="connector-vertical"></div>
      <div class="connector-horizontal connector-horizontal-short"></div>
      <div class="connector-vertical"></div>
    </div>
    <div class="connector-between">
      <div class="connector-vertical"></div>
      <div class="connector-horizontal connector-horizontal-short"></div>
      <div class="connector-vertical"></div>
    </div>
  </div>

  <!-- Nível 3 - semi-final -->
  <div class="level">
    
    <div class="org-node">
       <img src="{{timeRessaca[0].img}}" alt="{{timeRessaca[0].nome}}" />
      <div class="nome">{{timeRessaca[0].nome}}</div>
     <!--  <div class="time">{{timeRessaca[0].nome}}</div> -->
    </div>    
    <div class="org-node">
     <img src="{{timeTaquaral[0].img}}" alt="{{timeTaquaral[0].nome}}" />
      <div class="nome">{{timeTaquaral[0].nome}}</div>
    <!--   <div class="time">{{timeTaquaral[0].nome}}</div> -->
    </div>
    <div class="org-node">
       <img src="{{timeGalaticos[0].img}}" alt="{{timeGalaticos[0].nome}}" />
     <div class="nome">{{timeGalaticos[0].nome}}</div>
      <!-- <div class="time">{{timeGalaticos[0].nome}}</div> -->
    </div>
    <div class="org-node">
      <img src="{{timeBelaVista[0].img}}" alt="{{timeBelaVista[0].nome}}" />
      <div class="nome">{{timeBelaVista[0].nome}}</div>
     <!--  <div class="time">{{timeBelaVista[0].nome}}</div> -->
    </div>

  </div>
   <div class="connectors-row">
    <div class="connector-between">
      <div class="connector-vertical"></div>
      <div class="connector-horizontal connector-horizontal-short"></div>
      <div class="connector-vertical"></div>
    </div>
    <div class="connector-between">
      <div class="connector-vertical"></div>
      <div class="connector-horizontal connector-horizontal-short"></div>
      <div class="connector-vertical"></div>
    </div>
  </div>

  <div class="level">
    <div class="org-node">
       <img src="{{timeRessaca[0].img}}" alt="{{timeRessaca[0].nome}}" />
      <div class="nome">{{timeRessaca[0].nome}}</div>
      <!-- <div class="time">{{timeRessaca[0].nome}}</div> -->
    </div>
    <div class="org-node">
      <img src="{{timeCrystalPalace[0].img}}" alt="{{timeCrystalPalace[0].nome}}" />
      <div class="nome">{{timeCrystalPalace[0].nome}}</div>
     <!--  <div class="time">{{timeCrystalPalace[0].nome}}</div> -->
    </div>
    <div class="org-node">
      <img src="{{timeNovaGeracao[0].img}}" alt="{{timeNovaGeracao[0].nome}}" />
      <div class="nome">{{timeNovaGeracao[0].nome}}</div>
      <!-- <div class="time">{{timeNovaGeracao[0].nome}}</div> -->
    </div>
    <div class="org-node">
      <img src="{{timeGalaticos[0].img}}" alt="{{timeGalaticos[0].nome}}" />
     <div class="nome">{{timeGalaticos[0].nome}}</div>
      <!-- <div class="time">{{timeGalaticos[0].nome}}</div> -->
    </div>
  </div>
</div>
