.divcraquejogo{
  margin-top: 20px;

  h2, p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}

.divrodadas {
  margin-top: 20px;

  h2, p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .p-datatable-tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}
