@import "primeicons/primeicons.css";
.container {
    overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    overflow: hidden;
   .divbemvindo{
    h2{
        align-items: center;
    }
   } 
  }
}



