 <div class="navbar">
        <p-toolbar [style]="{ 'border-radius': '0rem',  }">
            <ng-template #start>             
                <p-button severity="secondary">
                    <i class="pi pi-facebook"></i> 
                </p-button> 
                <p-button severity="secondary">
                    <i class="pi pi-instagram"></i> 
                </p-button>
            </ng-template>
            <ng-template #center>
                logo do campenato
            </ng-template>
             <ng-template #end>
                <p-button severity="secondary">
                    <i class="pi pi-youtube"></i> 
                </p-button>               
            </ng-template>
        </p-toolbar>
    </div>
