 <div class="navbar">
        <p-toolbar [style]="{ 'border-radius': '0rem',  }">
            <ng-template #start>
                <div class="card flex justify-center" >
                    <p-menu #menu [popup]="true" [model]="items" />
                    <p-button (click)="menu.toggle($event)" icon="pi pi-bars" severity="secondary">
                        <i class="pi pi-bars"></i>
                    </p-button>
                </div>
                <p-button severity="secondary">
                    <a href="https://www.facebook.com/profile.php?id=61575567917023&locale=pt_BR">
                        <i class="pi pi-facebook"></i> 
                    </a>             
                </p-button>                
            </ng-template>
            <ng-template #center>
                <div class="logo">                                        
                    <p-image src="https://dc614.4shared.com/img/klPMOEvifa/s24/196fa076da8/logoCampeonato?async&rand=0.8534743262765921" alt="" width="50"/>
                </div>
            </ng-template>
             <ng-template #end>
                <p-button severity="secondary">
                    <a href="https://www.instagram.com/tvconsoni.esportes/">
                        <i class="pi pi-instagram"></i> 
                    </a>
                </p-button>
                <p-button severity="secondary">
                    <a href="https://www.youtube.com/@Consonitv"> 
                        <i class="pi pi-youtube"></i> 
                    </a>
                </p-button>               
            </ng-template>
        </p-toolbar>
    </div>
