<div class="divrodadas">
<h2 id="jogos">Próximos Jogos</h2>
<p>RODADAS</p>
<p-stepper [value]="2" class="basis-[50rem]">
    <div class="desktop">
        <p-step-list>                
        <p-step [value]="1">1° RODADA</p-step>
        <p-step [value]="2">2° RODADA</p-step>
        <p-step [value]="3">3° RODADA</p-step>
        <p-step [value]="4">4° RODADA</p-step>
        <p-step [value]="5">5° RODADA</p-step>                              
    </p-step-list>
    </div>  
    <div class="mobile">
        <p-step-list>                
        <p-step [value]="1"></p-step>
        <p-step [value]="2"></p-step>
        <p-step [value]="3"></p-step>
        <p-step [value]="4"></p-step>
        <p-step [value]="5"></p-step>                              
    </p-step-list>
    </div>            
    <p-step-panels>
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div>
                    <p-table [value]="rodadas1" [rows]="5">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Data e Hora</th>
                                <th></th>
                                <th></th>
                                @if(isDesktop){
                                    <th ></th>
                                }
                                <th></th>
                                <th></th>
                                <th></th>
                                @if(isDesktop){
                                    <th></th>
                                }                                        
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rodada1>
                            <tr >
                                <td>{{rodada1.dataHora}}</td>
                                <td>
                                    <img 
                                        [src]="rodada1.time1[0]?.img" 
                                        [alt]="rodada1.time1[0]?.nome"
                                        width="50"
                                        />
                                </td>
                                @if (isDesktop) {
                                    <td >{{rodada1.time1[0]?.nome}}</td>
                                }
                                <td>{{rodada1.placarTime1 === 99 ? '' : rodada1.placarTime1}}</td>
                                <td>X</td>
                                <td>{{rodada1.placarTime2 === 99 ? '' : rodada1.placarTime2}}</td>
                                 <td>
                                    <img 
                                        [src]="rodada1.time2[0]?.img" 
                                        [alt]="rodada1.time2[0]?.nome"
                                        width="50"
                                        />
                                </td>
                                @if (isDesktop) {
                                    <td >{{rodada1.time2[0]?.nome}}</td>
                                }                                
                            </tr>                                   
                        </ng-template>
                    </p-table>
                    </div>                            
                </div>
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div>
                        <p-table [value]="rodadas2" [rows]="5">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Data e Hora</th>
                                <th></th>
                                <th></th>
                                @if(isDesktop){
                                    <th ></th>
                                }
                                <th></th>
                                <th></th>
                                <th></th>
                                @if(isDesktop){
                                    <th></th>
                                }                                        
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rodada2>
                            <tr>
                                <td>{{rodada2.dataHora}}</td>
                                 <td>
                                    <img 
                                        [src]="rodada2.time1[0]?.img" 
                                        [alt]="rodada2.time1[0]?.nome"
                                        width="50"
                                        />
                                </td>
                                @if(isDesktop){
                                    <td>{{rodada2.time1[0]?.nome}}</td>
                                }                                
                                <td>{{rodada2.placarTime1 === 99 ? '' : rodada2.placarTime1}}</td>
                                <td>X</td>
                                <td>{{rodada2.placarTime2 === 99 ? '' : rodada2.placarTime2}}</td>
                                 <td>
                                    <img 
                                        [src]="rodada2.time2[0]?.img" 
                                        [alt]="rodada2.time2[0]?.nome"
                                        width="50"
                                        />
                                </td>
                                @if (isDesktop) {
                                    <td>{{rodada2.time2[0]?.nome}}</td>
                                }                                                                        
                            </tr>
                        </ng-template>
                    </p-table>
                    </div>
                </div>                        
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div>
                        <p-table [value]="rodadas3" row="5">
                            <ng-template pTemplate="header">
                                <tr >
                                    <th>Data e Hora</th>
                                <th></th>
                                @if(isDesktop){
                                    <th ></th>
                                }
                                <th></th>
                                <th></th>
                                @if(isDesktop){
                                    <th></th>
                                }                                        
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rodada3>
                                <tr>
                                    <td>{{rodada3.dataHora}}</td>
                                     <td>
                                        <img 
                                            [src]="rodada3.time1[0]?.img" 
                                            [alt]="rodada3.time1[0]?.nome"
                                            width="50"
                                            />
                                    </td>
                                    @if(isDesktop){
                                        <td>{{rodada3.time1[0]?.nome}}</td>
                                    }                                    
                                    <td>X</td>
                                     <td>
                                        <img 
                                            [src]="rodada3.time2[0]?.img" 
                                            [alt]="rodada3.time2[0]?.nome"
                                            width="50"
                                            />
                                    </td>
                                    @if(isDesktop){
                                        <td>{{rodada3.time2[0]?.nome}}</td>
                                    }                                                                           
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>                        
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="4">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div>
                        <p-table [value]="rodadas4" [rows]="5">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Data e Hora</th>
                                    <th></th>
                                    @if(isDesktop){
                                        <th ></th>
                                    }
                                    <th></th>
                                    <th></th>
                                    @if(isDesktop){
                                        <th></th>
                                    }                                      
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rodada4>
                                <tr>
                                    <td>{{rodada4.dataHora}}</td>
                                    <td>
                                        <img 
                                            [src]="rodada4.time1[0]?.img" 
                                            [alt]="rodada4.time1[0]?.nome"
                                            width="50"
                                            />
                                    </td>
                                    @if(isDesktop){
                                        <td>{{rodada4.time1[0]?.nome}}</td>
                                    }                                    
                                    <td>X</td>
                                    <td>
                                        <img 
                                            [src]="rodada4.time2[0]?.img" 
                                            [alt]="rodada4.time2[0]?.nome"
                                            width="50"
                                            />
                                    </td>
                                    @if(isDesktop){
                                        <td>{{rodada4.time2[0]?.nome}}</td>
                                    }                                   
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>                        
            </ng-template>
        </p-step-panel>

        <p-step-panel [value]="5">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                    <div>
                        <p-table [value]="rodadas5" [rows]="5">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Data e Hora</th>
                                    <th></th>
                                    @if(isDesktop){
                                        <th ></th>
                                    }
                                    <th></th>
                                    <th></th>
                                    @if(isDesktop){
                                        <th></th>
                                    }                                       
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rodada5>
                                <tr>
                                    <td>{{rodada5.dataHora}}</td>
                                    <td>
                                        <img 
                                            [src]="rodada5.time1[0]?.img" 
                                            [alt]="rodada5.time1[0]?.nome"
                                            width="50"
                                            />
                                    </td>
                                    @if(isDesktop){
                                        <td>{{rodada5.time1[0]?.nome}}</td>
                                    }                                    
                                    <td>X</td>
                                    <td>
                                        <img 
                                            [src]="rodada5.time2[0]?.img" 
                                            [alt]="rodada5.time2[0]?.nome"
                                            width="50"
                                            />
                                    </td>
                                    @if (isDesktop) {
                                        <td>{{rodada5.time2[0]?.nome}}</td>
                                    }                                                                          
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>                        
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>