
    <!--<div class="divpatrocino" style="display: flex; gap: 10px; flex-wrap: wrap;">
        <div *ngFor="let patrocinador of patrocinadores">
            <p-card 
            [style]="{ width: '110px', height: '110px', overflow: 'hidden', padding: '0', margin: '0' }" 
            styleClass="small-card"
            >
            <ng-template pTemplate="header">
                <img 
                [src]="patrocinador.img" 
                [alt]="patrocinador.nome" 
                style="width: 100%; height: 100%; object-fit: cover;" 
                />
            </ng-template>      
        </p-card>
    </div>
</div>-->


<div class="divpatrocino">      
  <img 
    src="https://dc717.4shared.com/img/XocQFhfwku/s24/196fe4b7828/todospatrocino?async&rand=0.6141420711021058" 
    alt="Patrocinadores" 
    style="max-width: 100%; height: auto; object-fit: contain; border-radius: 10px;" 
  />
</div>